[Unit]
Description=daily foo
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=docker run mmf -v /bitlog:/bitlog /usr/bin/python3.7 /mmf/net2log.py /bitlog /bitlog/BITLOG-FLG WORK-A

